SECRET=password@123456
MONERO_HOSTNAME=127.0.0.1
MONERO_PORT=7878
ETH_RPC=http://localhost:8545
GETH_ADDRESS=localhost
GETH_PORT=8545
ETHTESTNET=true
RIPPLE_API=wss://s.altnet.rippletest.net:51233
RIPPLE_WS_CLIENT=ws://localhost:8080
RIPPLE_WS_SVR_PORT=8080
STELLAR_SERVER=https://horizon-testnet.stellar.org
STELLAR_WS_PORT=8081
MONGODB_URI=mongodb://localhost/walletapi
MONGODB_DEBUG=true
CARDANO_WS_ADDRESS=ws://d490d404.ngrok.io
CARDANO_CLIENT_KEY=certificates/client.key
CARDANO_CLIENT_CERT=certificates/client.crt
CARDANO_HEX_RANDOM=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/
PORT=3001
COINOTC_ESCROW_EMAIL=admin@nimbus.sg
WEBAPP_PORT=3002